.header-flat{
      border: 1px solid #dce0e0;

}

.header-flat-details{
      display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 0;
}

.header-flat-owner{
    padding: 20px;
}
}

.header-flat-name{

}
