<ul class="list-inline text-center">
  <% ["andrey", "felix"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "avatar-square" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
